/* Generic */

:root {
	--pinfo-transition-time: 0.2s;
	--pinfo-delay: 0.2s;
}

* {
	font-family: "Roboto";
	font-weight: 400;
}

.container {
	transform-origin: 0px 0px;
	position: relative;
	overflow: visible;
	pointer-events: painted;
}

/* JQuery Resizable */

.ui-resizable {
	position: relative;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
	display: none;
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

/* JQuery Tabs */

.ui-tabs {
	position: relative;
	padding: 0.5em;
	zoom: 1;
}

.ui-tabs .ui-tabs-nav {
	margin: 0px;
	padding: 0px;
	padding-bottom: 2.2em;
	border: 5px;
	border-color: #000;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0px;
	margin: 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
	display: block;
	float: left;
	padding: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 150px;
	min-width: 25px;
	height: 19px;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	padding: 10px;
	min-height: 700px;
	max-height: none;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

html {
	height: 100%;
}

body {
	margin: 10px;
	height: calc(100% - 20px);
}

.tabs {
	background-color: #ececec;
	height: calc(100% - 20px);
}

.tabpane {
	height: calc(100% - 54px);
	background-color: #c5c5c5;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.tab>a {
	color: #000000;
	background-color: #d6d6d6;
	transition: background-color 0.2s, font-weight 0.2s;
}

.tab.ui-state-hover>a {
	background-color: #d0d0d0;
}

.tab.ui-state-active>a {
	font-weight: bold;
	background-color: #c5c5c5;
}

/* board */

.board {
	/*background-color: #323232;*/
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

canvas {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

/* Node */

.node {
	min-width: 100px;
	height: 75px;
	border: 4px solid #6b6b6b;
	border-radius: 15px;
	background-color: #d7d7d7cc;
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: transform 2s;
}

.body {
	display: flex;
	height: 100%;
	width: 100%;
	order: 1;
	justify-content: space-between;
}

.node[selected] {
	box-shadow: 0px 0px 2px 1px #ffcf00;
	border: 4px solid #938400;
}

.node.resizable {
	border-bottom-right-radius: 0px;
}

.node>header[hidden] {
	background-color: #c1c1c144;
	padding: 0em 0.3em;
	height: 15px;
	color: none;
	transition: background-color 0.3s, color 0.3s, flex 0.3s, padding 0.3s;
}

.node>header {
	padding: 0.1em 0.3em;
	height: 15px;
	background-color: #9f9f9fcc;
	color: #000000;
	order: 0;
	border-bottom: 2px solid #6b6b6b;
}

.center>textarea {
	font-size: 15px;
	overflow: scroll;
	width: calc(100%-10px);
	height: 35px;
	border: none;
	margin: 5px;
	background-color: none;
}

/* Node Inner */

.center {
	order: 5;
	flex: 1 1;
	overflow: hidden;
	transition: flex var(--pinfo-transition-time) ease var(--pinfo-delay);
}

.center>.text {
	text-align: center;
	font-family: "Roboto";
	font-weight: 800;
	font-size: 40px;
	/*margin: 5px;*/
	height: 100%;
	color: #bdbdbd;
}

/* Pins */

.pins {
	background-color: #98989866;
	flex: 0 0 25px;
	height: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* this fixes the outpins shaking */
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.pinfos {
	flex: 0 1 0;
	background-color: #98989800;
	height: 100%;
	transition: flex var(--pinfo-transition-time) ease var(--pinfo-delay), border-right var(--pinfo-transition-time) ease var(--pinfo-delay), border-left var(--pinfo-transition-time) ease var(--pinfo-delay), background-color var(--pinfo-transition-time) ease var(--pinfo-delay);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-around;
}

.pinfo {
	height: 12px;
	position: relative;
}

.pinfo>.text {
	margin: -2.5px 4px 0px 4px;
	font-size: 14px;
	overflow: hidden;
	flex: 1 0;
	white-space: nowrap;
	display: block;
}

.inpinfo>.text {
	text-align: left;
}

.outpinfo>.text {
	text-align: right;
}

.pins:hover+.pinfos, .pinfos[opened], .pinfos:hover {
	background-color: #bebebe66;
	flex: 1 0;
}

.pins:hover~.center, .pinfos[opened]~.center, .pinfos:hover~.center {
	flex: 0 1;
}

.inpins {
	order: 0;
}

.outpins {
	order: 10;
}

.inpinfos {
	order: 1;
	border-right: 0px solid #98989800;
}

.outpinfos {
	order: 9;
	border-left: 0px solid #98989800;
}

.pins:hover+.inpinfos, .inpinfos[opened], .inpinfos:hover {
	border-right: 2px solid #6b6b6b;
}

.pins:hover+.outpinfos, .outpinfos[opened], .outpinfos:hover {
	border-left: 2px solid #6b6b6b;
}

/* Selection Box */

.selectbox {
	position: absolute;
	background-color: #fff50055;
	border: 3px solid #fccc0088;
	pointer-events: none;
}

.selectbox[anti] {
	background: repeating-linear-gradient(135deg, #fff50055, #fff50055 .25em, #fccc0055 0, #fccc0055 .75em);
	border: 3px solid #fc000088;
}

/* Pin */

.pin {
	border: 2px solid #00000011;
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

.pin[ref] {
	border-radius: 0;
}

.board:not([linking]) .pin:hover, .pin:hover[match], .pin[active], .pin[linking] {
	border: 2px solid #f8ff77 !important;
}

.board[linking] .pin:not([match]):not([active]):not([linking]) {
	border: 2px solid #00000044 !important;
	background: #00000000 !important;
}

.outpin {}

.inpin {}